[submodule "externs/stm_cube/STM32CubeL0"]
	path = externs/stm_cube/STM32CubeL0
	url = https://github.com/STMicroelectronics/STM32CubeL0.git
[submodule "externs/stm_cube/STM32CubeL4"]
	path = externs/stm_cube/STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
